asgiref==3.8.1 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
boto3==1.35.94 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
botocore==1.35.94 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
certifi==2024.12.14 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
charset-normalizer==3.4.1 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
django-cors-headers==4.6.0 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
django-environ==0.11.2 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
django-storages==1.14.4 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
django==4.2.17 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
djangorestframework==3.14.0 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
gunicorn==21.2.0 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
idna==3.10 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
jmespath==1.0.1 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
packaging==24.2 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
psycopg2-binary==2.9.10 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
python-dotenv==1.0.1 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
pytz==2024.2 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
requests==2.32.3 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
s3transfer==0.10.4 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
six==1.17.0 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
sqlparse==0.5.3 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
tzdata==2024.2 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0" and sys_platform == "win32"
urllib3==2.3.0 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
whitenoise==6.8.2 ; python_full_version >= "3.11.0" and python_full_version < "3.12.0"
