option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:ec2:vpc:
    VPCId: vpc-0ac62e2eedb3652f1
    Subnets: subnet-097c6f78579fa1a33
    AssociatePublicIpAddress: true
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1

packages:
  yum:
    postgresql-devel: []
    python3-devel: []
    gcc: [] 