Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.micro
        SecurityGroups: 
          - !Ref AWSEBSecurityGroup
        UserData: 
          Fn::Base64: !Sub |
            #!/bin/bash
            yum update -y
            yum install -y python3-devel postgresql-devel gcc

option_settings:
  aws:ec2:instances:
    EnableSpot: false
    InstanceTypes: t2.micro,t2.small
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance 