option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
    PythonVersion: 3.11
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:ec2:vpc:
    VPCId: vpc-0ac62e2eedb3652f1
    Subnets: subnet-097c6f78579fa1a33
    AssociatePublicIpAddress: true
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.production
    PYTHONPATH: /var/app/current
    DATABASE_URL: postgresql://airfield_admin:your_password_here@localhost:5432/airfield_info

packages:
  yum:
    postgresql-devel: []
    python3-devel: []
    gcc: [] 