Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateId: lt-0f94ff3e43a3b3379
        Version: 1
      MinSize: 1
      MaxSize: 1

option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role 