option_settings:
  aws:autoscaling:asg:
    MaxSize: 1
    MinSize: 1
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:launchconfiguration:
    LaunchTemplateId: lt-0332506a61c6f427f
    LaunchTemplateVersion: 1 