option_settings:
  aws:autoscaling:asg:
    MaxSize: 1
    MinSize: 1
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false
    MinInstancesInService: 0
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    IgnoreHealthCheck: true
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role 