option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_poetry_install:
    command: |
      poetry config virtualenvs.create false
      poetry install --no-interaction --no-ansi --no-root
  02_collectstatic:
    command: "poetry run python manage.py collectstatic --noinput"
  03_migrate:
    command: "poetry run python manage.py migrate --noinput"
    leader_only: true 