option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.production
    PYTHONPATH: /var/app/current
    ALLOWED_HOSTS: api.torrenceaviation.com
    DEBUG: "False"
  
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  
  aws:ec2:instances:
    InstanceTypes: t3.micro
    EnableSpot: false
  
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/airports/by_iata/?code=LAX
    Port: 8000
    Protocol: HTTP 