Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.micro
        IamInstanceProfile:
          Name: aws-elasticbeanstalk-ec2-role
        UserData: 
          Fn::Base64: |
            #!/bin/bash
            yum update -y
            yum install -y python3-devel postgresql-devel gcc
        MetadataOptions:
          HttpTokens: optional
          HttpEndpoint: enabled

option_settings:
  aws:autoscaling:launchconfiguration:
    LaunchTemplateId: !Ref AWSEBLaunchTemplate
    LaunchTemplateVersion: !GetAtt AWSEBLaunchTemplate.LatestVersionNumber 