Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.micro
        SecurityGroups: 
          - !Ref AWSEBSecurityGroup
        UserData: 
          Fn::Base64: !Sub |
            #!/bin/bash
            yum update -y
            yum install -y python3-devel postgresql-devel gcc

option_settings:
  aws:autoscaling:launchconfiguration:
    LaunchTemplateId: !Ref AWSEBAutoScalingLaunchTemplate
    LaunchTemplateVersion: !GetAtt AWSEBAutoScalingLaunchTemplate.LatestVersionNumber 